#searchbox{
    width: 100%;
}
/* #searchbox input searchbar{
    margin-left: 70px;
} */
#searchbar{
    margin-left: 200px;
    margin-right: 0px;
}
#Ayurveda{
    align-items: center;
    justify-content: center;
    
    font-size:30px;
}
#unani{
    align-items: center;
    justify-content: center;
    
    font-size:30px;
}
#siddha{
    align-items: center;
    justify-content: center;
    
    font-size:30px;
}
#othbooks{
    align-items: center;
    justify-content: center;
    
    font-size:30px;
}